:host {
  display: block;
  padding: 16px;
}

.filters-content {
  gap: 8px;
  display: flex;
  padding-bottom: 0 !important;
}

mat-form-field {
  flex: 1;
}

.loading-hide {
  display: none;
}

.table-container {
  padding: 8px;
  margin: 20px 0;
}

.loader {
  margin: 20px 0;
}

button.reset-btn {
  margin-top: 12px;
}
