:host {
  display: block;
  padding: 16px;
}

.filters-content {
  gap: 8px;
  display: flex;
  padding-bottom: 0 !important;
}

mat-form-field {
  flex: 1;
}

.loading-hide {
  display: none;
}

.instruments-list, .loader {
  margin: 20px 0;
}
